    <script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>

    <!-- Table library -->
    <script src="tables/js/jquery.dataTables.min.js"></script>
	<script src="tables/js/dataTables.bootstrap4.min.js"></script>

    <!-- Chart.js library -->
    <script src="/chartjs"></script>

    <!-- Query Website -->
    <script src="js/main.js"></script>
    <script src="js/tables-temperature.js"></script>
    <script src="js/tables-humidity.js"></script>
    <script src="js/tables-light.js"></script>
    <script src="js/tables-water.js"></script>
    <script src="js/tables-ph.js"></script>
    <script src="js/tables-ppm.js"></script>
		
</body>
</html>